body {
    background-color: #f9fdf9;
    display: grid;
    place-items: center;
    height: 100vh;
}

#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;


}

#miFormulario {
    display: flex;
    border: 1px black solid;
    border-radius: 10px;
    gap: 10px;
    height: 400px;
    width: 50vw;
    margin: auto;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}